name: "Update dependencies"

on:
  workflow_dispatch:
    inputs:
      force:
        description: 'Also create pull request if only developer dependencies changed'
        default: 'false'

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: Update dependencies & build
      run: ./scripts/update-dependencies.sh
    - name: Detect changes in distributed code
      if: ${{ github.event.inputs.force != 'true' }}
      id: changes
      run: |
        if [[ $(git status --porcelain ./dist) != "" ]]; then
          echo "dist=true" >> $GITHUB_OUTPUT
        fi
    - name: Create Pull Request
      if: ${{ steps.changes.outputs.dist || github.event.inputs.force == 'true' }}
      uses: peter-evans/create-pull-request@v6
      with:
        commit-message: "Update dependencies"
        branch: yarn-upgrade-latest
        delete-branch: true
        title: "Update dependencies"
        body: "Automatically created by the 'Update Dependencies' workflow"
